{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>All categories</h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / <a href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}</a></h2>
        </div>
    {% else %}
        No category find
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Back home
    </a>
{% endblock %}

