@import "~bootstrap/scss/bootstrap";
@font-face {
    font-family: 'canter';
    src: url("Canter/OTF/Canter-Light.otf");
}

$primary : #F7DAC4;
$secondary : #C5C0C6;
$hover : #929BB5;

$font-family : 'canter';


.navbar {
    background-color: $primary;
}

.nav-link {
    color: $secondary;
    font-family: $font-family;
    font-size: 2em;
}

.nav-link:hover {
    color: $hover;
}

.navbar-brand {
    color: $secondary;
    font-family: $font-family;
    font-size: 5em;
}

.navbar-brand:hover {
    color: $hover;
}

.navbar-toggler-icon {
    border: 2px solid $secondary;
    color: $secondary;
}

.page-title{
    font-family: $font-family;
    font-size: 3em;
}